<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>压测结果展示</title>  
    <!-- 引入 echarts.js -->
    <script src="{{url_for('static',filename = 'echarts.min.js')}}"></script>
    <script src="{{url_for('static',filename = 'jquery-1.4.2.min.js')}}"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div>在线人数:{{online}} </div>
    {%if memdata%}
        <div id="mem" style="width: 600px;height:400px;"></div>
    {%endif%}
    {%if cpudata%}	
        <div id="cpu" style="width: 600px;height:400px;"></div>
    {%endif%}
    <script type="text/javascript">
        setTimeout(function(){location.reload()},30000);
        // 指定图表的配置项和数据
        var option_mem = {
            title: {
                text: 'MEM(KB)',
                x:'center' 
            },
            tooltip: {},
            legend: {
                top: '5%',
		data:[
		{% for data in memdata %}
			'{{data.name}}',
		{% endfor %}
		]
            },
	    grid: {
      	  	left: '3%',
        	right: '4%',
        	top: '18%',
        	containLabel: true
    	    },
            xAxis: {
                data: [{{timedata|safe}}]
            },
            yAxis: {},
            series: [
	    {% for data in memdata %}
	    	{
               	 	name: '{{data.name}}',
                	type: 'line',
                	data: [{{data.data}}]
            	},
	    {% endfor %}
            ]
        };
        var option_cpu = {
            title: {
                text: 'CPU(%)',
		x:'center'
            },
            tooltip: {},
            legend: {
		top: '5%',
           	data:[
                {% for data in cpudata %}
                        '{{data.name}}',
                {% endfor %}
                ] 
	    },
	    grid: {
                left: '3%',
                right: '4%',
                top: '18%',
                containLabel: true
            }, 
            xAxis: {
                data: [{{timedata|safe}}]
            },
            yAxis: {},
            series: [
             {% for data in cpudata %}
                {
                        name: '{{data.name}}',
                        type: 'line',
                        data: [{{data.data}}]
                },
            {% endfor %}
	    ]
        };

        // 使用刚指定的配置项和数据显示图表。
	{%if memdata%} 
		var memChart = echarts.init(document.getElementById('mem')); 
        	memChart.setOption(option_mem);
	{%endif%}
	{%if cpudata%}
		var cpuChart = echarts.init(document.getElementById('cpu'));
        	cpuChart.setOption(option_cpu);
	{%endif%}
    </script>
</body>
</html>
